html { 
  background: url("../images/wall.jpg") no-repeat center center fixed; 
  -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
/* body {
	background: url("../images/wall.jpg");
} */
* {
	box-sizing: border-box;
}
h1{
	font-size: 36px;
	color: white;
	font-family: 'Courgette', cursive;
	padding: 10px;
	margin-top: 10px;
}
div {
	outline-color: orange;
	border: 2px dotted red;
	padding: 10px;
	margin-bottom: 10px;
	
}
#wrapper{
	margin: 40px;

}
.container{
	text-align: center;
	color:white;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
}
#start{
	margin-top: 15%;
	padding:16px 32px;
	font-size:16px;
  	font-weight:100;

}